<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Connex</title>
    <link rel="stylesheet" href="games.css">
</head>

<body>
    <section class="Home" id="Home">
        <div class="nav-container">
            <div class="wrapper" id="navbar">
                <div class="logo">
                    <img class="image" src="images/test.svg" alt="">
                </div>
                <nav>
                    <ul class="nav-items">
                        <li>
                            <a href="/school" class="item">SCHOOL</a>
                        </li>
                        <li>
                            <a href="/research" class="item">RESEARCH</a>
                        </li>
                        <li>
                            <a href="/games" class="item">GAMES</a>
                        </li>
                        <li>
                            <a href="/profile" class="item">PROFILE</a>
                        </li>
                        <li>
                            <a href="/logout" class="item">LOGOUT</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>

<ul>
    <li>
      <a href="https://skribbl.io/">
        <img src="https://skribbl.io/res/logo.gif">
        <span></span>
        <h2>
         skribblio!
        </h2>
        </a> 
    </li>
    <li>
      <a href="#"></a>
      <img src="http://placehold.it/150x150/389ED3/ffffff&text=image">
      <span></span>
        <h2>Game 2</h2>
    </li>
    <li>
      <a href="#">
      <img src="http://placehold.it/150x150/D7594B/ffffff&text=image">
      <span></span>
        <h2>Game 3</h2>
    </li>
    <li>
      <a href="#">
      <img src="http://placehold.it/150x150/678E8D/ffffff&text=image">
        <span></span>
        <h2>Game 4</h2>
     </li>
    <li>
      <a href="#">
      <img src="http://placehold.it/150x150/F6C628/ffffff&text=image">
      <span></span>
        <h2>Game 5</h2>
    </li>
  </ul>	
  
</body>
</html>  