<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Connex</title>
    <link rel="stylesheet" href="../public/stylesheets/games.css">
</head>

<body>
    <section class="Home" id="Home">
        <div class="nav-container">
            <div class="wrapper" id="navbar">
                <div class="logo">
                    <img class="image" src="images/test.svg" alt="">
                </div>
                <nav>
                    <ul class="nav-items">
                        <li>
                            <a href="/school" class="item">SCHOOL</a>
                        </li>
                        <li>
                            <a href="/research" class="item">RESEARCH</a>
                        </li>
                        <li>
                            <a href="/games" class="item">GAMES</a>
                        </li>
                        <li>
                            <a href="/profile" class="item">PROFILE</a>
                        </li>
                        <li>
                            <a href="/logout" class="item">LOGOUT</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>

<ul>
    <li>
      <a href="https://skribbl.io/">
        <img src="https://skribbl.io/res/logo.gif">
        <span></span>
        <h2>
         Skribblio!
        </h2>
        </a> 
    </li>
    <li>
      <a href="https://theescapegame.com/remote-adventures/">
      <img src="http://www.bookitit.com/wp-content/uploads/2018/05/sistema_reservas_online_agenda_escape_room.jpg">
      <span></span>
        <h2>Escape Room</h2>
    </a> 
    </li>
  </ul>	
  
</body>
</html>  