<h1>This is the research page.</h1>

<ul>
  <li>
    <a href="/school" class="item">SCHOOL</a>
  </li>
  <li>
    <a href="/research" class="item">RESEARCH</a>
  </li>
  <li>
    <a href="/games" class="item">GAMES</a>
  </li>
  <li>
    <a href="/profile" class="item">PROFILE</a>
  </li>
  <li>
    <a href="/logout" class="item">LOGOUT</a>
  </li>
</ul>

<container>
  <div>
    <h4>These will be 'dropdowns'</h4>
    <li>General</li>
    <li>Events</li>
    <li>Opportunities</li>
  </div>
  <div>
    <h4>GENERAL</h4>
    <div>
      <h4>Announcement #1</h4>
      <p>This is the first announcement in GENERAL.</p>
      <div>
        <a>LIKE</a>
        <a>COMMENT</a>
      </div>
    </div>
  </div>
</container>
