<h1>User Profile</h1>
<p>After Login the user will reach here.</p>
<ul>
  <li>
    <a href="/school" class="item">SCHOOL</a>
  </li>
  <li>
    <a href="/research" class="item">RESEARCH</a>
  </li>
  <li>
    <a href="/games" class="item">GAMES</a>
  </li>
  <li>
    <a href="/profile" class="item">PROFILE</a>
  </li>
  <li>
    <a href="/logout" class="item">LOGOUT</a>
  </li>
</ul>
